<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stripe Payment</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <form id="payment-form">
      <div id="card-element"></div>
      <button type="submit">Submit Payment</button>
    </form>

    <script>
      // Initialize Stripe
      const stripe = Stripe(
        "pk_test_51QVuODAk94MRg2rW7rB7N7jPqZOF0PCch4lW0N2u8WyVp0agsTuEdzMQhBZa95Wb5FYRyr3wHnZYkiylgq2bLJxC00E6nrPgYn"
      );

      // Create an instance of Elements
      const elements = stripe.elements();

      // Create a card elementapp
      const card = elements.create("card");
      card.mount("#card-element");

      // Handle form submission
      const form = document.getElementById("payment-form");
      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const { paymentMethod, error } = await stripe.createPaymentMethod({
          type: "card",
          card: card,
        });
      
        if (error) {
          console.error(error);
          // Display error to the user
        } else {
      
          // Send paymentMethod.id to your server
          // Example: sendPaymentMethodToServer(paymentMethod.id);
        }
      });
    </script>
  </body>
</html>
